body{
    background-color: #FB6B6B;
}
.layout-logo > img{
    height: 161px;
    width: 136px;
    border-radius: 0px;
    
}
.layout-name{
    height: 59px;
    width: 257px;
    border-radius: nullpx;
    margin-top: 20px;
}
.layout-name >h1{
font-family: 'Righteous';
font-size: 36px;
font-weight: 400;
line-height: 45px;
letter-spacing: -1.2%;
color: white;
margin-left: 50px;
}
.layout-text{
    height: 54px;
    width: 246px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; 
    margin-top: 30px;  
}
.layout-text>h2{
    font-family: 'Recursive';
    font-weight: 400;
    font-style: Sans Casual;
    font-size: 18px;
    line-height: 22px;
    line-height: 100%;
    color: #D70900;
}

.container-layout{
    height: 667px;
    width: 100%;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}